
version: '3.8'

services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-ai-backend
    ports:
      - "9292:9292"
    env_file:
      - .env
    depends_on:
      - frontend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: spring-ai-frontend
    ports:
      - "3000:80"
